<div class="modal-header citation-header">
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>

  <h3 class="modal-title show-header">
    <small><span class="text-muted"><%= t('hyrax.base.citations.header') %></span></small>
  </h3>

  <span><em><%= t('hyrax.base.citations.disclaimer') %></em></span>
</div>

<div class="modal-body">
  <div class="chicago-citation">
    <h4><%= t('blacklight.citation.chicago') %></h4>
    <%= export_as_chicago_citation(@presenter) %>
  </div>

  <div class="mla-citation">
    <h4><%= t('blacklight.citation.mla') %></h4>
    <%= export_as_mla_citation(@presenter) %>
  </div>

  <div class="apa-citation">
    <h4><%= t('blacklight.citation.apa') %></h4>
    <%= export_as_apa_citation(@presenter) %>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal">
    <%= t('blacklight.modal.close') %>
  </button>
</div>