<table class="table table-hover">
    <% collections.each do |collection| %>
      <tr>
        <td class="col-sm-2">
            <%= link_to [hyrax, collection], class: 'media-left', 'aria-hidden' => true do %>
              <%= render_thumbnail_tag collection, { width: 45 }, suppress_link: true %>
            <% end %>
          </td>
          <td>
                <%= link_to [hyrax, collection] do %>
                <h4>  <%= collection.title_or_label %></h4>
                <p><%= link_to_facet_list(collection.description, 'description', '') %></p>
                <% end %>
        </td>
      </tr>
    <% end %>
</table>
<ul class="list-inline collection-highlights-list">
  <li>
    <%= link_to t('hyrax.homepage.admin_sets.link'),
                main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}),
                class: 'btn btn-default' %>
  </li>
</ul>
