<table class="table table-hover">
<tr>
  <td class="col-sm-2">
    <%= link_to [main_app, recent_document] do %>
      <%= render_thumbnail_tag recent_document, { width: 45 }, suppress_link: true %>
    <% end %>
  </td>
  <td>
    <h4>
      <span class="sr-only">Title</span><%= link_to truncate(recent_document.to_s, length: 100, separator: ' '), [main_app, recent_document] %>
    </h4>
    <p>
      <span class="sr-only">Authors</span><%= link_to_facet_list(recent_document.alpha_creator, 'creator', '', ' / ' ).html_safe %>
    </p>
    <p>
      <span class="sr-only">Series</span><%= link_to_facet_list(recent_document.series, 'series', '').html_safe %>
      <span class="sr-only">Issue Number</span><%= link_to_facet_list(recent_document.issue_number, 'issue_number', '').html_safe %>
    </p>
</td>
</tr>
</table>
