<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p><%= t('hyrax.footer.service_html') %></p>
        <p><a class="navbar-link" href="https://minneapolisfed.org">Minneapolis Fed Home</a></p>
        <p><a class="navbar-link" href="https://minneapolisfed.org/site-information/disclaimer">Disclaimer</a> | <a class="navbar-link" href="https://minneapolisfed.org/site-information/privacy-policies">Privacy Policy</a></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('hyrax.footer.copyright_html') %></p>
        <p><%= t('hyrax.background_attribution_html') %></p>
        <p><%= t('hyrax.product_name') %> <span title="<%= ReleaseInfo.sha %>"><%= ReleaseInfo.branch %> updated <%= ReleaseInfo.deployment_timestamp %></span></p>
        <p>built using Hyrax v<%= Hyrax::VERSION %></p>
      </div>
    </div>
  </div>
</footer>
