<table class="creators table">
  <thead>
    <tr>
      <th class="active_creator"><%= t('.active') -%></th>
      <th class="group"><%= t('.group') -%></th>
      <% if current_or_guest_user.can?(:edit, Creator) %>
        <th class="edit"></th>
      <% end %>
      <th class="display_name"><%= t('.display_name') -%></th>
      <th class="repec"><%= t('.repec') -%></th>
      <th class="viaf"><%= t('.viaf') -%></th>
      <th class="alternate_names"><%= t('.alternate_names') -%></th>
    </tr>
  </thead>
  <tbody>
      <% @creators.map do |creator| %>
        <tr id="<%= dom_id(creator) -%>" >
<!--          <td class="id"><%#= creator.id %></td>-->
          <td class="active_creator">
            <span class="visually-hidden"><%= creator.active_creator.to_s -%></span>
            <span class="aria-hidden active-<%= creator.active_creator.to_s -%>"></span>
          </td>
          <td class="group"><%= creator.group -%></td>
          <% if current_or_guest_user.can?(:edit, Creator) %>
            <td class="edit"><%= link_to 'Edit', edit_creator_path(creator) -%></td>
          <% end %>
          <td class="display_name"><%= creator.display_name -%></td>
          <td class="repec"><%= creator.repec -%></td>
          <td class="viaf"><%= creator.viaf -%></td>
          <td class="alternate_names"><%= creator.alternate_names.join(" ; ") -%></td>
<!--          <td><%#= link_to 'Show', creator -%></td>-->
        </tr>
      <% end %>
  </tbody>
</table>
