<table class="creators table">
  <thead>
    <tr>
      <%= render partial: 'table_headers' %>
    </tr>
  </thead>
  <tbody>
      <% @creators.map do |creator| %>
        <tr>
          <td class="id"><%= creator.id %></td>
          <td class="display_name"><%= creator.display_name %></td>
          <td class="alternate_names"><%= creator.alternate_names.join(" ; ") %></td>
          <td class="repec"><%= creator.repec %></td>
          <td class="viaf"><%= creator.viaf %></td>
          <td><%= link_to 'Show', creator %></td>
          <% if current_or_guest_user.can?(:edit, Creator) %>
            <td><%= link_to 'Edit', edit_creator_path(creator) %></td>
            <td><%= link_to 'Destroy', creator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
