<% provide :page_header do %>
  <h1><span class="fa fa-address-card" aria-hidden="true"></span> <%= t('creators.creator') %></h1>
<% end %>

<div id="creators">
  <table class="creators-show table table-borderless">
    <tbody>
    <tr class="display_name">
      <td class="attribute_name"><%= t('creators.display_name') -%></td>
      <td class="attribute_value"><%= @creator.display_name -%></td>
    </tr>

    <tr class="active_creator">
      <td class="attribute_name"><%= t('creators.active_creator') -%></td>
      <td class="attribute_value">
        <span class="visually-hidden"><%= @creator.active_creator.to_s -%></span>
        <span class="aria-hidden active-<%= @creator.active_creator.to_s -%>"></span>
      </td>
    </tr>

    <tr class="group">
      <td class="attribute_name"><%= t('creators.group') -%></td>
      <td class="attribute_value group <%= @creator.group -%>"><%= @creator.group -%></td>
    </tr>

    <tr class="repec">
      <td class="attribute_name"><%= t('creators.repec') -%></td>
      <td class="attribute_value"><%= @creator.repec -%></td>
    </tr>

    <tr class="viaf">
      <td class="attribute_name"><%= t('creators.viaf') -%></td>
      <td class="attribute_value"><%= @creator.viaf -%></td>
    </tr>

    <tr class="alternate_names">
      <td class="attribute_name"><%= t('creators.alternate_names') -%></td>
      <td class="attribute_value">
        <ul class="tabular">
        <% @creator.alternate_names.each do |name| %>
          <li class="attribute"><%= name %></li>
        <% end %>
        </ul>
      </td>
    </tr>


    </tbody>
  </table>

  <% if current_or_guest_user.can?(:edit, Creator) %>
    <%= link_to 'Edit', edit_creator_path(@creator) %> |
  <% end %>
  <%= link_to 'Back', creators_path %>
</div>
