<p id="notice"><%= notice %></p>
<div class="col-xd-12">
  <h1>Show Creator</h1>
</div>
<div class="col-sm-8">
  <label class="control-label string" for="creator_display_name">Display name</label>
  <ul class="tabular">
    <li class="attribute"><%= @creator.display_name %>
    </li>
  </ul>

  <label class="control-label string" for="creator_alternate_names">Alternate names</label>
  <ul class="tabular">
    <% @creator.alternate_names.each do |name| %>
        <li class="attribute"><%= name %></li>
    <% end %>
  </ul>

  <label class="control-label string" for="creator_repec">RePEc</label>
  <ul class="tabular">
    <li class="attribute"><%= @creator.repec %></li>
  </ul>

  <label class="control-label string" for="creator_viaf">VIAF</label>
  <ul class="tabular">
    <li class="attribute"><%= @creator.viaf %></li>
  </ul>

  <label class="control-label string" for="creator_active">Active</label>
  <ul class="tabular">
    <li class="attribute"><%= @creator.active_creator.to_s %></li>
  </ul>

<% if current_or_guest_user.can?(:edit, Creator) %>
  <%= link_to 'Edit', edit_creator_path(@creator) %> |
<% end %>
<%= link_to 'Back', creators_path %>
