<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @creator.display_name %>
</p>

<p>
  <strong>Alternate names:</strong>
  <%= @creator.alternate_names.join(" ; ") %>
</p>

<p>
  <strong>Repec:</strong>
  <%= @creator.repec %>
</p>

<p>
  <strong>Viaf:</strong>
  <%= @creator.viaf %>
</p>
<p>
  <strong>Active:</strong>
  <%= @creator.active_creator.to_s %>
</p>

<%= link_to 'Edit', edit_creator_path(@creator) %> |
<%= link_to 'Back', creators_path %>
