<% provide :page_header do %>
  <h1><span class="fa fa-list-alt" aria-hidden="true"></span>Publication Statistics</h1>
<% end %>

<% headers = @report[0] %>
<% start = headers.keys[3][0..3] # year from first date column %>
<div id=report>
  <div class="button_holder">
    <%= link_to('Download', reports_path(format: nil, params: { format: :csv }), class: 'btn btn-primary', id: 'reports-download' )%>
  </div>
  <table class="table  table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <% headers.each do |key, label| %>
          <th class="<%= "report-#{key.parameterize}" -%>"><%= label -%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @report[1..-1].each do |row| %>
        <tr>
          <% headers.keys.each do |key| %>
            <td class="<%= "report-#{key.parameterize}" -%>"><%= author_formatter(row, key, start) -%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
