<h3><%= t('hyrax.admin.stats.works.headers.main') %> (<%= @presenter.date_filter_string %>)</h3>
<h4><%= t('hyrax.admin.stats.works.headers.total') %> <%= @presenter.works_count[:total] %> </h4>
<div style="margin-left: 20px; margin-bottom: 10px;">
  <% @presenter.works_count[:collections].each do |collection_name, works| %>
  <div style="font-size: 12px; margin-bottom: 6px;">
    <span><%=  collection_name %>&nbsp;&nbsp;&nbsp;
      <button type="button" id="stat_btn_<%= works[0][:member_of_collection_ids_ssim][0] %>" class="btn-success" data-toggle="collapse" 
        data-target="#stat_collapse_<%= works[0][:member_of_collection_ids_ssim][0] %>">
        <span class="glyphicon glyphicon-plus"></span> <%= works.length() %>
      </button>
    </span>
    <br>
    <ul id="stat_collapse_<%= works[0][:member_of_collection_ids_ssim][0] %>" class="collapse">
      <% works.each do |work| %>
        <% link = work[:identifier_tesim][0] if work[:identifier_tesim].present? %>
        <li><a href="//<%= link %>" ><%= work[:title_ssi] %></a></li>
      <% end %>
    </ul>
    </div>
  <% end %>
</div>
<h4><%= t('hyrax.admin.stats.works.headers.visibility') %></h4>
<ul>
  <li><%= t('hyrax.visibility.open.text') %> <span class="count">(<%= @presenter.works_count[:public] %>)</span></li>
  <li><%= t('hyrax.visibility.authenticated.text', institution: institution_name) %> <span class="count">(<%= @presenter.works_count[:registered] %>)</span></li>
  <li><%= t('hyrax.visibility.restricted.text') %> <span class="count">(<%= @presenter.works_count[:private] %>)</span></li>
</ul>
