<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<% if @presenter.respond_to? :itemtype %>
<%   unless @presenter.itemtype == "http://schema.org/Dataset" %>
<%     itemtype = "http://schema.org/CreativeWork" %>
<%   else %>
<%     itemtype = "http://schema.org/Dataset"   %>
<%   end %>
<% end %>

<div itemscope itemtype="<%= itemtype %>" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
    </header>
  </div>
  <div class="col-sm-8">
    <%= render 'metadata', presenter: @presenter %>
    <%= render 'relationships', presenter: @presenter %>
  </div>
  <div class="col-sm-4">
    <%= render "show_actions", presenter: @presenter %>
    <%# Use the fully qualified path to avoid RSpec error: translation missing: en.hyrax.base.show.html.erb.last_modified %>
    <%= render 'representative_media', presenter: @presenter %>
    <%= render 'social_media' %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'zip_controls', presenter: @presenter %>
    <%= render 'items', presenter: @presenter %>
    <%= render 'workflow_actions_widget', presenter: @presenter %>
  </div>
</div>
